.container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  min-height: 100vh;
  align-items: center;
};

.formContainer {
  border: 1px solid rgb(153, 147, 147);
  width: fit-content;
  padding: 50px;
  margin: 60px;
  border-radius: 10px;
  height: fit-content;
  background-color: #ffffff;
};

.header {
  color: blue;
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
};

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 75px;
};

.formField label {
  text-align: left;
  margin-bottom: 5px;
  color: rgb(15, 14, 14);
  font-size: 0.9rem;
};

.formInput {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding: 0px 10px;
  border: 1px solid silver;
  transition: all 0.2s ease-in;
};

.checkBoxContainer {
  display: flex;
  font-size: 0.85rem;
  flex-direction: row !important;
  align-items: center;
  height: 20px !important;
  text-align: center;
};

.checkBoxContainer span {
  height: 20px;
  margin-top: 5px;
  width: fit-content;
  text-align: left;
  font-size: 0.7rem;
  line-height: 10px;
  padding: 2px 3px;
  border-radius: 3px;
  background-color: rgb(201, 138, 122);
  color: black;
};


.uncompleted {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding: 0px 10px;
  border: 1px solid rgb(232, 189, 189);
  transition: all 0.2s ease-in;
};

.formInput:focus,
.uncompleted:focus {
  outline: none;
  line-height: 30px;
  height: 30px;
  border: 1px solid #1a73e8;
};

.formField span {
        height: 10px;
        margin-top: 5px;
        width: fit-content;
        text-align: left;
        font-size: 0.7rem;
        line-height: 10px;
        padding: 2px 3px;
        border-radius: 3px;
        background-color: rgb(201, 138, 122);
        color: black;
};

.formButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
};

.formButtons button {
  background-color: #1a73e8;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.1s ease-in;
  cursor: pointer;
};

.formButtons a {
  color: #1a58e8;
  text-decoration: none;
  transition: all 0.1s ease-in;
  font-weight: 1000;
}


@media (max-width: 440px) {
  .formContainer {
    padding: 20px;
    margin: 50px 20px;
  };

  .formContainer {
    width: 90%;
  };

  .formInput {
    width: 90%;
  };

  .uncompleted {
    width: 90%;
  }
  
}